@model Application.ViewModels.GradeCreateViewModel;

@{
    ViewData["Title"] = "Crear Calificación";
}

<div class="max-w-3xl px-4">
    <div class="py-6">
        <a asp-controller="Grade" asp-action="Index" aria-expanded="false" data-dropdown-toggle="dropdown-user"
            class="flex items-center text-sm rounded gap-x-2 min-w-min">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="lucide lucide-arrow-left-icon lucide-arrow-left">
                <path d="m12 19-7-7 7-7" />
                <path d="M19 12H5" />
            </svg>

            Volver atras
        </a>
    </div>

    <div class="p-6 bg-white shadow rounded-2xl md:p-10">
        <div class="mb-8">
            <h2 class="text-2xl font-bold text-gray-800">Agregar Calificación</h2>
            <p class="mt-2 text-gray-500">
                Llena los campos para poder agregar una calificación.
            </p>
        </div>

        <div class="text-sm text-red-600" role="alert">
            @if (!string.IsNullOrEmpty(ViewData["Error"] as string))
            {
                @ViewData["Error"]
            }
        </div>

        <form action="/grade/create" method="post">
            <div class="grid gap-6 md:grid-cols-2">
                <div class="space-y-1 md:col-span-2">
                    <label asp-for="GradeDto.StudentId" for="StudentId"
                        class="block mb-1 text-sm font-medium text-gray-700">
                        Estudiante</label>
                    
                    <select asp-for="GradeDto.StudentId" asp-items="@(new SelectList(Model.Students, "Id", "Name"))"
                        class="w-full px-4 py-3 transition duration-150 ease-in-out bg-transparent border border-gray-300 rounded-lg">
                        <option selected value="0">Seleccionar estudiante</option>
                    </select>
                    <span asp-validation-for="GradeDto.StudentId" class="mt-1 text-xs text-red-600"></span>
                </div>

                <div class="space-y-1 md:col-span-2">
                    <label asp-for="GradeDto.SubjectId" for="SubjectId" class="block mb-1 text-sm font-medium text-gray-700">
                        Asignatura
                        </label>
                    <select asp-for="GradeDto.SubjectId"
                        asp-items="@(new SelectList(Model.Subjects, "Id", "Name"))"
                        class="w-full px-4 py-3 transition duration-150 ease-in-out bg-transparent border border-gray-300 rounded-lg">
                        <option selected value="0">Seleccionar asignatura</option>
                    </select>
                    <span asp-validation-for="GradeDto.SubjectId" class="mt-1 text-xs text-red-600"></span>
                </div>

                <div class="space-y-1">
                    <label asp-for="GradeDto.Grade1" for="Grade1"
                        class="block mb-1 text-sm font-medium text-gray-700">Calificacion 1</label>
                    <input asp-for="GradeDto.Grade1" type="number" id="Grade1"
                        class="w-full px-4 py-3 transition duration-150 ease-in-out border border-gray-300 rounded-lg"
                        placeholder="8094298592">
                    <span asp-validation-for="GradeDto.Grade1" class="mt-1 text-xs text-red-600"></span>
                </div>

                <div class="space-y-1">
                    <label asp-for="GradeDto.Grade2" for="Grade2"
                        class="block mb-1 text-sm font-medium text-gray-700">Calificacion 2</label>
                    <input asp-for="GradeDto.Grade2" type="number" id="Grade2"
                        class="w-full px-4 py-3 transition duration-150 ease-in-out border border-gray-300 rounded-lg"
                        placeholder="8094298592">
                    <span asp-validation-for="GradeDto.Grade2" class="mt-1 text-xs text-red-600"></span>
                </div>

                <div class="space-y-1">
                    <label asp-for="GradeDto.Grade3" for="Grade3"
                        class="block mb-1 text-sm font-medium text-gray-700">Calificacion 3</label>
                    <input asp-for="GradeDto.Grade3" type="number" id="Grade3"
                        class="w-full px-4 py-3 transition duration-150 ease-in-out border border-gray-300 rounded-lg"
                        placeholder="8094298592">
                    <span asp-validation-for="GradeDto.Grade3" class="mt-1 text-xs text-red-600"></span>
                </div>

                <div class="space-y-1">
                    <label asp-for="GradeDto.Grade4" for="Grade4"
                        class="block mb-1 text-sm font-medium text-gray-700">Calificacion 4</label>
                    <input asp-for="GradeDto.Grade4" type="number" id="Grade4"
                        class="w-full px-4 py-3 transition duration-150 ease-in-out border border-gray-300 rounded-lg"
                        placeholder="8094298592">
                    <span asp-validation-for="GradeDto.Grade4" class="mt-1 text-xs text-red-600"></span>
                </div>

                <div class="space-y-1 md:col-span-2">
                    <label asp-for="GradeDto.Exam" for="Exam"   class="block mb-1 text-sm font-medium text-gray-700">Nota del examen</label>
                    <input asp-for="GradeDto.Exam" type="number" id="Exam"
                        class="w-full px-4 py-3 transition duration-150 ease-in-out border border-gray-300 rounded-lg"
                        placeholder="8094298592">
                    <span asp-validation-for="GradeDto.Exam" class="mt-1 text-xs text-red-600"></span>
                </div>

                @* <div class="space-y-1">
                    <label asp-for="GradeDto.TotalGrade" for="TotalGrade"   class="block mb-1 text-sm font-medium text-gray-700">Total</label>
                    <input asp-for="GradeDto.TotalGrade" type="number" id="TotalGrade" disabled
                        class="w-full px-4 py-3 transition duration-150 ease-in-out border border-gray-300 rounded-lg"
                        placeholder="8094298592">
                    <span asp-validation-for="GradeDto.TotalGrade" class="mt-1 text-xs text-red-600"></span>
                </div>

                <div class="space-y-1 md:col-span-2">
                    <label asp-for="GradeDto.Classification" for="State"
                        class="block mb-1 text-sm font-medium text-gray-700">Clasifición</label>

                    <select asp-for="GradeDto.Classification" id="State"
                        class="w-full px-4 py-3 transition duration-150 ease-in-out bg-transparent border border-gray-300 rounded-lg">
                        <option selected value="">Seleccionar clasificación</option>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="F">F</option>
                    </select>

                    <span asp-validation-for="GradeDto.Classification" class="mt-1 text-xs text-red-600"></span>
                </div>

                <div class="space-y-1 md:col-span-2">
                    <label asp-for="GradeDto.State" for="State"
                        class="block mb-1 text-sm font-medium text-gray-700">Estado</label>

                    <select asp-for="GradeDto.State" id="State"
                        class="w-full px-4 py-3 transition duration-150 ease-in-out bg-transparent border border-gray-300 rounded-lg">
                        <option selected value="">Seleccionar estado</option>
                        <option value="approved">Approbado</option>
                        <option value="failed">Reprobado</option>
                    </select>

                    <span asp-validation-for="GradeDto.State" class="mt-1 text-xs text-red-600"></span>
                </div> *@

                <div class="md:col-span-2">
                    <button type="submit"
                        class="w-full px-4 py-3 font-medium text-white transition duration-150 ease-in-out bg-orange-600 rounded-lg shadow-md hover:bg-orange-700 hover:shadow-lg focus:outline-none focus:ring-2 focus:ring-orange-500 focus:ring-offset-2">
                        Añadir Calificación
                    </button>
                </div>
        </form>
    </div>
</div>

