
<a asp-area="" asp-controller="Home" asp-action="Index" class="flex items-center gap-x-2 min-w-max">
    <img
         alt="logo"
         src="https://goodsidehealth.com/wp-content/uploads/2022/12/GSH_APlusPackage_Logomark_Orange.png"
         class="h-7 object-cover w-auto"
    />

    <span class="flex items-center gap-2 font-semibold text-xl text-orange-500">
        AcadScore
    </span>
</a>

