

<footer class="mx-auto max-w-7xl px-6 md:px-8">
    <div class="flex w-full flex-row flex-wrap items-center justify-center gap-x-12 gap-y-3 md:gap-y-6 text-center md:justify-between">
        <partial name="_LogoPartial" />

        <ul class="flex flex-wrap items-center gap-x-6 gap-y-2 py-3">
            <li>
                <a asp-controller="Home" asp-action="Index" class="font-sans antialiased text-sm text-current hover:text-stone-500">Inicio</a>
            </li>

            <li>
                <a asp-controller="Home" asp-action="Index" class="font-sans antialiased text-sm text-current hover:text-stone-500">Testimonio</a>
            </li>

            <li>
                <a asp-controller="Home" asp-action="Index" class="font-sans antialiased text-sm text-current hover:text-stone-500">Acerca de Nosotros</a>
            </li>

            <li>
                <a asp-controller="Home" asp-action="Index" class="font-sans antialiased text-sm text-current hover:text-stone-500">Contacto</a>
            </li>
        </ul>
    </div>

    <hr class="my-4 border-stone-200" />

    <p class="font-sans antialiased text-sm text-current text-center py-">© 2025 AcadScore. Todos los derechos reservados.</p>
</footer>

